 @media screen and (max-width: 480px){
 
// mes variable couleur
$gradient: linear-gradient(to bottom right,#EE55FF,#9356DC );
$gradient-eclairci: linear-gradient(to bottom right,#fc55ff,#9e56dc );
$background-color_carte-resto:#F2F2F2;
$background-color_footer:#353535;
$color_text:#fff;
$couleur_Tertiaire:#99E2D0;

body{
    margin: 0px 0px 0px 0px;
}
.titre__menu > h1{   
    font-family: 'Shrikhand', cursive;
    width: 100%;
    margin-left: 10%;
    font-size: 1.7em;
}
.bloc_de_page{      
    min-width: 320px;
    max-width: initial;
    background-color: #f6f6f6;
    font-family: 'Raleway', sans-serif;    
}
/* |logo du restaurant| */  
img.logo_resto{
    width: 45%;
    margin-right: 23%;
}
.logo_resto__entete{
    display: flex;
    justify-content: center; 
    justify-content: space-between;
    align-items: center;
}
#fleche_retour_accueil{
    margin-left: 1rem;
    text-decoration: none;    
    color: black;
}
/* |carte du restaurant| */
.carte-resto{    
    display: flex;
    padding-bottom: 15%;
    flex-direction: column;
    background-color:$background-color_carte-resto;
}
.carte-resto__img {    
    height: 220px;
    background-size: 100%;
    background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}
.menu_titre_icon_coeur{   
    display: flex;
    padding-right: 5%;
    padding-top: 3%;
    margin-top: -30px;
    background-color: #f6f6f6;
    border-radius: 35px 35px 0px 0px;     
    justify-content: space-between;
}
.carte--coeur{
    display:flex;
    justify-content:center;    
    align-items: center; 
    padding-right: 5%;      
}
.coeur_vide{  
    margin-top: 0px;
    margin-right: -0px;
    position: absolute;  
    font-size: 25px; 
}
.coeur_plein > .fa{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
div.coeur_plein svg * {
    fill: url(#svg_coeur_gradient);  
}
div.coeur_plein {
    font-size: 28px;  
    opacity: 0;     
}  
div.coeur_plein:active{
    animation: 300ms coeur ease-out forwards;
}  
@keyframes coeur{
    0%{
      opacity: 0;
      transform: scale(0.1);    
      transform-origin:bottom;
    }   
    50%{
      opacity: 1;
      transform: scale(0.8);
      transform-origin:bottom
    }
    100%{
      opacity: 1;
      transform: scale(1);
      transform-origin:bottom
    }
}
 /* |Parti section/article: titre-menu| */
#conteneur_cartes{ 
  margin: 0px 0px 0px 0px;
}
.titre__entrees, .titre__plats, .titre__desert{
    display: flex;
    justify-content: start;
    margin-left: 5%;
}
.titre_entrees-plats-desserts{
    width: 10%;
    margin-left: 5%;
    font-weight: normal;
    border-color: $couleur_Tertiaire;
    border-bottom-style: solid;
}
.container_parent_entrees{
    display: flex;
    justify-content:center;
    margin: 10px 10px 10px 10px;
}
.menu__entre_plat_dessert{
    display: flex;     
    height: 70px;    
    margin-bottom: 4%;
    width: 90%;     
    align-items: center;
    background-color: $color_text;    
    border-radius: 14px 14px 14px 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation:entree_plat_dessert ease-in ; 
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    flex-wrap: nowrap;   
}
.cont_descrip_acomp{
    display: flex;
    flex-direction: column;    
    width: 300px;   
    padding:10px;     
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.descrip_menu-entrees-plats-desserts{    
    font-size: 1em;
    margin-bottom: 2px;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.acommp_entrees-plats-desseerts{
    margin-top: 2px;
    font-size: 0.8em; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
}
.ellipsis{     
    overflow: hidden;     
    transition: transform  linear 300ms;
}
.entrees_prix{    
    display: flex; 
    margin-top: 25px; 
    padding-left:14px;      
    width: 40px;
    padding-left: 45px;
    justify-content: end;    
    padding-right: 1em;    
}
.prix_eneuro{     
    padding-right:2px;     
}
.prix_eneuro, .symboleeuro{
    margin-left:2px;   
    font-size: 0.9em;    
    font-weight: bold;    
    display: inline; 
}
@keyframes entree_plat_dessert{
    0%{
      transform: scaleY(0.9);
      opacity:0;
    }
    25%{
  
      opacity:0;
    }
    50%{
  
      opacity:0.30;
    }
    75%{
  
      opacity:0.60;
    }
    100%{
       transform: scaleY(1);
      opacity:1;
    }
}
.container_check_icone{
    display:flex ;
    justify-content: center;
    align-items: center; 
    width:0%;
    height:70px; 
    background-color:$couleur_Tertiaire;
    border-radius: 0px 14px 14px 0px;     
    transition: width linear 300ms;  
}
.div_check_icone{  
    text-align: center; 
    visibility:hidden; 
    transition: visibility linear 300ms ;     
}
.check_icone {
    color: $couleur_Tertiaire;
    line-height: 1.9 !important;    
    width: 28px;
    height: 28px;
    border-radius: 50%;   
    transition: transform  linear 300ms;
    background-color: white;    
}
@keyframes check_check{
    0%{
      transform: rotate(-160deg);
    }
    100%{
      transform: rotate(160deg);
    }
}
  /* ______________________________TRANSITIONS-ANIMATIONS-Container_parent____________________________________ */
@each $name,$delay in ("conteneur_entrees":200ms,"conteneur_plats":400ms,"conteneur_desserts":600ms){
  .#{$name} {animation-delay: $delay;}
}

.menu__entre_plat_dessert:hover > .container_check_icone { /*Transition avec bacground color mint*/    
    width: 120px;
} 
.menu__entre_plat_dessert:hover > .container_check_icone > .div_check_icone {/*Transition qui contient mon check(visto)*/
    visibility: unset; 
} 
.menu__entre_plat_dessert:hover > .container_check_icone > .div_check_icone > .check_icone{/*Animation du check(visto) avec de keyframes*/    
    animation: check_check 300ms;  
}    
.menu__entre_plat_dessert:hover > .ellipsis {/* transition ellipsis(tros petits points)*/
    text-overflow: ellipsis;  
    white-space: nowrap;    
} 
.titre_bouton{
    display: flex;
    justify-content: center;
    margin-bottom: 20%;    
    margin: 15% 0% 20% 0%;
}
.titre_bouton_commander{
    width: 50%;
    height: 2.5em;
    display: flex;
    color: $color_text;    
    padding: 2% 0% 2% 0%;
    border: 3px solid;
    font-weight: 700;  
    align-items: center;
    font-size: 1.1em;
    border-radius:10rem; 
    justify-content:center;
    background-image:$gradient;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 40px 40px 40px 40px;
    border: none;
}

.titre_bouton_commander:hover{
    transition:transform 300ms ease-in;      
    transition: 300ms ease-in;
    background-image: $gradient-eclairci;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;       
}
.titre_bouton > h5{
    padding-bottom: 55px;
}
footer{
    padding-bottom: 7%;
    background-color: $background-color_footer;
}
.logo_resto__footer > path{
    fill: $color_text;
}
.logo_resto__footer{
    width: 25%; 
    margin-left:5%;
    margin-top: 5%;
    margin-bottom:2%;
}
.info__footer {
    color: $color_text;
    font-size: 0.9em;
}
.info__footer > div{
font-size: 1em;
margin-left: 5%;
line-height: 1.7em;
}
.info__footer > div > a:last-child{
color: inherit;
text-decoration: none;    
}
.icon_footer{
margin-right: 3%;
font-size: 0.8em;
}  
}  
  